header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    width: 50%;
    float: left;
    height: 100%;
}
header div#api_status {
    margin-right: 30px;
    margin-top: 15px;
    float: right;
    height: 40px;
    width: 40px;
    vertical-align: center;
    border-radius: 50%;
    background: #cccccc;
}
header div#api_status.available {
    background: #ff545f;
}
