<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=yes" /> 
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{cache_id}}">
	<link rel="icon" href="../static/images/icon.png" />
	<SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
	<script src="../static/scripts/101-hbnb.js"></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
type="text/css"
/>
    <title>Gap Map</title>
  </head>
  <body>
    <header>
	<h1>Gap Map - Tulsa Registry</h1>
	<!--
      <div class="logo"></div>
      <div id="api_status"></div>
	-->
    </header>
	<!-- 
    <div class="container">
      <section class="filters">

	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for state in states %}
	      <li>
		<h2><input type="checkbox" id="state" data-id="{{state[0].id}}" data-name="{{state[0].name}}"/>{{ state[0].name }}:</h2>
		<ul>
		  {% for city in state[1] %}
		  <li><input type="checkbox" id="city" data-id="{{city.id}}" data-name="{{city.name}}"/>{{ city.name }}</li>
		  {% endfor %}
		</ul>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>

	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for amenity in amenities %}
	      <li><INPUT type="checkbox" id="amenity" data-id="{{amenity.id}}" data-name="{{amenity.name}}"/>{{ amenity.name }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>
	-->

	<!--
      <div class="placesh1"><h1>Places</h1></div>
      <section class="places">
      </section>
    </div>
	-->
	<h4 style="text-align: center;">This is only intended as an aid - not a final authority.<br>YOU MUST VERIFY ADDRESSES WITH TPD<br>This is only intended as an interactive tool to assist in the process</h4>
	<div id='map'></div>

	<script src="../static/scripts/map.js"></script>


    <footer>
      <p>Gap Map</p>
    </footer>
  </body>
</html>
